# project dependencies
streamlit
pandas
requests
python-dotenv
# new version (using openmeteo)
openmeteo_requests
requests_cache
retry_requests

# local package
-e .

# build tools
setuptools>=42
wheel
